@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  display: block;
  text-align: center;
}

ol {
  list-style: none;
  text-align: center;
}

li {
  padding: .5rem;
  text-decoration: none;
}

.round {
  text-align: center;
}

.loner-div {
}
