@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 sans-serif;
  font-family: 'Droid Serif', serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* begin ************************************/

body {
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  display: block;
  text-align: center;
  border-bottom: solid #000 .2rem;
}

.list {
  position: absolute;
  width: 100%;
}

ol {
  list-style: none;
  text-align: center;
  padding: 0;
}

li a {

  display: block;
  padding-top: .5em;
  padding-bottom: .5em;
  background-color: #d3d3d3;
}

.list a:hover {
  background-color: #c0c0c0;
}

li a {
  color: #000;
}

.round {
  display: block;
  text-align: center;
  width: 14em;
  margin: 0 auto;
}

.round img {
  width: 100%;
  display: block;
}

/* Loner Pic *********************************/

.loner-div {
  display: block;
  padding-top: 3em;
  padding-bottom: 3em;
}

.loner-div > img {
  position: relative;
  width: 100%;
  z-index: -10;
}

.loner-div > h2 {
  position: absolute;
 top: 15em;
 left: 2em;
}

/* Textures!! *********************************/

.textures {
  text-align: center;
  padding: 10px;
  background-color: #fff;
  border: #000 1px solid;
  line-height: 1.4;

}

/* Open sign *********************************/

.open {
  margin: auto;
  padding: 2em 2em;
  border: 10px solid black;
  border-radius: 100%;
  text-align: center;
  width: 320px;
  clear: both;
}

dl {
  padding: 0.5em;
}

dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  font-weight: bold;
}

dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
}

/* About us *********************************/

.aboutusgroup h2 {
  padding: 3em 2em .1em 2em;
}

.talk {
  text-indent: .6em;
  padding: 1em;
}

.aboutuscards {
  padding: 2em;
  text-align: center;
}

.aboutus {
  text-align: center;
  display: inline-block;
  border: 3px solid;
  border-radius: 10px;
  box-shadow: 2px 2px 5px;
  padding-bottom: 1.5em;
  margin: .2em;
}

.aboutus img {
  width: 90%;
  max-width: 250px;
}

/* Footer *********************************/

footer {
  border: 4px solid;
  margin: 2rem;
  clear: both;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  .loner-div h2 {

  }

  .aboutus {
    display: block;
    max-width: 25em;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  ol > li {
    text-align: center;
    max-width: 50%;
    margin: 0;
  }

  header li:nth-child(odd) {
    float: right;
    min-width: 50%;
  }

  header .round {
    text-align: center;
    position: relative;
  }

  .aboutus figcaption {
    display: inline-block;
  }

  }

}


@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

}

@media only screen and (min-width: 70em) {

 .texturesgroup {
   text-align: center;
 }

  .textures {
    display: inline;
    float: left;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
